.card-container {
  display: flex;
  justify-content: center;
  margin: 0 10%;
}

.wide-card {
  width: 100%;
  max-width: 700px;
  text-align: center;
}
.button-row {
  display: flex;
  justify-content: space-evenly;
  margin: 5% 10%;
  max-width: 800px;
}
.button-row  .buttons{
  width:40%;
}
