<div class="card-container">
  <div *ngIf="cluster === -1 && !isAllocationProcessOver">
    <mat-card class="wide-card">
      <h2>In order for us to give you the best matches we first have to know some things about you</h2>
      <div *ngFor="let question of questions">
        <app-question [question]="question.question" [response]="responses[question.question]" (responseChange)="onResponseChange($event)"></app-question>
      </div>
      <div class="button-row">
        <button mat-raised-button class="buttons" [disabled]="!flagPrev" (click)="loadPrevBatch()">Back</button>
        <button mat-raised-button class="buttons" [disabled]="!flagNext" (click)="loadNextBatch()">Next</button>
      </div>
      <button mat-raised-button color="primary" (click)="finalizeResponses()">Submit All</button>
    </mat-card>
  </div>
  <div *ngIf="cluster !== -1 && !isAllocationProcessOver">
    <mat-card class="wide-card">
      <h2>Congratulations you are part of the {{getClusterName(cluster)}}. Here are some suggestions of people like you, in your dorm</h2>
    </mat-card>
    <div class="student-cards-container">
       <div *ngFor="let student of students">
          <app-person-card [student]="student"></app-person-card>
      </div>
    </div>
  </div>
</div>

<mat-card class="text-container"  *ngIf="cluster == -1 && isAllocationProcessOver">
  <mat-card-header>
    <mat-card-title>
      <h1>The Room Allocation Process is finished! Go To Allocation Process Details to see the room you have been assigned to and your roommates! </h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle> Unfortunately you can't take the personality test anymore! But if your roommates have you can see their results to have a better idea of the personality of your roommates.
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>

<mat-card class="text-container"  *ngIf="cluster != -1 && isAllocationProcessOver">

  <mat-card-header>
    <mat-card-title>
      <h1>The Room Allocation Process is finished! </h1>
      <h1>Go To Allocation Process Details to see the room you have been assigned to and your roommates! </h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle>Compare your results with your roommates!
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>

