<mat-card class="text-container">
  <mat-card-header>
    <mat-card-title>
      <h1>Add the rooms in your dormitory </h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle> Here you can add the rooms to your dormitory faster by selecting the size of the room and the number of rooms that that will be multiplied by that capacity. Ensure that in total you have rooms that have capacity bigger or equal to the stud number
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>


<div class="container">

  <div class="card">
    <div class="card-header">
      <mat-card-title>Specify the rooms you need for your dormitory</mat-card-title>
    </div>
    <div class="card-body">
      <div>
        <label>Select the size of the room :</label>
        <mat-form-field appearance="outline" class="custom-select">
          <mat-label>Max people in a room</mat-label>
          <input matInput type="number" [(ngModel)]="maxPeople" placeholder="Max people in a room" min="0" step="1">
        </mat-form-field>
      </div>
      <div>
        <label>Multiply the rooms by this     : </label>
        <mat-form-field appearance="outline" class="custom-select">
          <mat-label>Category Room X Nr</mat-label>
          <input matInput type="number" [(ngModel)]="selectedRoomCount" placeholder="Category Room X Nr" min="0" step="1">
        </mat-form-field>
      </div>
      <div class="footer">
        <button mat-raised-button color="primary" (click)="addRooms()">Add Rooms</button>
      </div>
    </div>
  </div>
  <!-- New card for displaying added rooms -->
  <div class="card" *ngIf="addRoomButtonPressed">
    <div class="card-header">
      <mat-card-title>Added Rooms</mat-card-title>
    </div>
    <div class="card-body">
      <ul>
        <li *ngFor="let room of rooms" class="room-item">
          Room Nr {{ room.roomNumber }} : capacity {{ room.maxPeopleNumber }} x
          <mat-icon class="person-icon">perm_identity</mat-icon>
          <i class="person icon"></i>
        </li>
      </ul>
    </div>
  </div>
</div>

