
.container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 5%;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 45%; /* Adjusted width */
  padding: 10px;
}

.card-header {
  background-color: #f0f0f0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.card-body {
  padding: 5% 2%;
}

button {
  margin-top: 10px;
}

.custom-select {
  font-size: 0.8em;
}
.room-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.2;
}

.person-icon, .icon {
  margin-left: 4px;
  vertical-align: middle;
}

.mat-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
}
label{
  margin : 3%
}
.text-container {
  padding: 20px;
  margin: 5% 15%;
  border: 1px solid #ccc;
  border-radius: 8px;
}
