<mat-card class="text-container">
  <mat-card-header>
    <mat-card-title>
      <h1>What are clusters?</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle>This app uses the concept of clusters. They represent different personality types based on the Big Five Personality Traits. The different combination of the dominant traits and the less dominant traits results in a cluster. Many people can have similar characteristics and that is why they can be grouped in a so called cluster. The people that are in the same cluster tend to express themselves similar and have similar preferences. This can foster a feeling of being understood and can create a safe space. We know how important it is for new students that just left home to find a comfortable and safe space for them to live during university and the need to find roommates that you will be compatible with. This is why we can divided all the students in 5 big clusters. Read below about each one of them and see if the cluster that has been assigned to you sounds like you.
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>

<mat-card class="text-container">
  <mat-card-header>
    <mat-card-title>
      <h1>The Five Clusters</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="image-container">
   <img [src]="clusters" class="clusters-image" alt="clusters-image">
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="text-container">
  <mat-card-header>
    <mat-card-title>
      <h1>Tranquil Balancers</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle>Individuals in Cluster 0 tend to be more introverted than extroverted. They are highly agreeable, enjoy the presence of others, and embrace new opportunities. These individuals value balance in their personal lives and strive to be organized and calm. They maintain a sense of order and enjoy creating a harmonious environment.
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>
<mat-card class="text-container">
  <mat-card-header>
    <mat-card-title>
      <h1>Adventurous Optimists</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle>Cluster 1 characterizes people who are extremely outgoing and sociable. They thrive in dynamic environments and enjoy being at the center of attention. Their openness and extroversion, however, can sometimes lead to a loss of focus and balance in life, causing them to jump rapidly from one activity to the next. They are energetic and always in search of new experiences.
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>

<mat-card class="text-container">
  <mat-card-header>
    <mat-card-title>
      <h1>Reserved Innovators</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle>Individuals in Cluster 2 prefer privacy and do not prioritize socializing or being present in others' lives. They focus on themselves and take things one step at a time. Despite appearing disorganized to others, they have their unique way of managing tasks at their own pace. They enjoy smaller groups of trustworthy people and value their close-knit relationships.
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>
<mat-card class="text-container">
  <mat-card-header>
    <mat-card-title>
      <h1>Compassionate Explorers</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle>People in Cluster 3 are self-reliant and prefer to depend on themselves rather than others. Although they might seem unorganized, they care deeply about those around them. They strive to understand and empathize with others, making an effort to ensure that people feel understood and supported. They value meaningful connections and aim to be considerate and thoughtful.
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>
<mat-card class="text-container">
  <mat-card-header>
    <mat-card-title>
      <h1>Thrill-seekers</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle>Cluster 4 describes individuals who are highly creative, outgoing, and sociable. They are always open to new experiences and enjoy engaging with others. Despite their lack of organization, they are enthusiastic and adventurous, constantly seeking new opportunities to learn and grow. Their creativity and openness to experiences make them dynamic and interesting individuals.
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>
