
<input type="file" class="file-input"
       (change)="onFileSelected($event)"  accept=".txt" #fileUpload>
<div class="file-upload-container">

<div>

  {{fileName || "No file uploaded yet."}}

  <button *ngIf="!fileName"  mat-mini-fab color="primary" class="upload-btn"
          (click)="fileUpload.click()">
    <mat-icon>attach_file</mat-icon>
  </button>

  <button *ngIf="fileName" mat-mini-fab color="warn" class="delete-btn" (click)="clearFile()">
    <mat-icon>delete</mat-icon>
  </button>
</div>
</div>

<div *ngIf="selectedFile" class="selected_file">
  <p>Selected file: {{ fileName }}</p>
  <mat-spinner *ngIf="uploadProgress !== undefined" [diameter]="50" color="accent"></mat-spinner>
</div>
<ul>
  <li *ngFor="let student of response">
    <span>Registration Number: {{ student.registrationNumber }}</span><br>
    <span>Email: {{ student.email }}</span><br>
    <span>Dormitory Id: {{ student.dormitory }}</span><br>
  </li>
</ul>
