
<input type="file" class="file-input"
       (change)="onFileSelected($event)"  accept=".txt" #fileUpload>

<div class="file-upload">

  {{fileName || "No file uploaded yet."}}

  <button mat-mini-fab color="primary" class="upload-btn"
          (click)="fileUpload.click()">
    <mat-icon>attach_file</mat-icon>
  </button>
</div>

<div *ngIf="selectedFile">
  <p>Selected file: {{ fileName }}</p>
  <mat-spinner *ngIf="uploadProgress !== undefined" [diameter]="50" color="accent"></mat-spinner>
</div>
<ul>
  <li *ngFor="let student of response">
    <span>Registration Number: {{ student.registrationNumber }}</span><br>
    <span>Email: {{ student.email }}</span><br>
    <span>Dormitory Id: {{ student.dormitory }}</span><br>
  </li>
</ul>
