<mat-card class="text-container">
  <mat-card-header>
    <mat-card-title>
      <h1>Apply for a room with a group !</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle> Build groups with students that you know or follow our suggestion, by adding people that are in the same cluster with you. Remember you can only apply with groups that have the same member number as the room capacity! If you do not see the Apply Button yet it means that the Room Allocation Process has not started or it has finished. Try to be quick! The first group to apply for a room gets the room.
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>


<div class="table-container">
  <mat-form-field>
    <mat-label>Room Number</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search for a capacity or a room nr Ex: 5" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Number Column for 'roomNumber' -->
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="roomNumber"> Room Number </th>
        <td mat-cell *matCellDef="let row"> {{row.roomNumber}} </td>
      </ng-container>

      <!-- Capacity Column for 'maxPeopleNumber' -->
      <ng-container matColumnDef="capacity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="maxPeopleNumber"> Capacity </th>
        <td mat-cell *matCellDef="let row"> {{row.maxPeopleNumber}} </td>
      </ng-container>

      <!-- Apply Column - just show the button -->
      <ng-container matColumnDef="apply">
        <th mat-header-cell *matHeaderCellDef> Apply </th>
        <td  mat-cell *matCellDef="let row">
          <button color="accent" mat-button (click)="applyForRoom(row)">Apply</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="3">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of rooms"></mat-paginator>
  </div>
</div>

