.group-card{
  width: 70%;
}
.env-card{
  display:flex;
  justify-content: center;
  margin: 5% 5%;
}
mat-card-actions{
  display:flex;
  justify-content: center;
}
.group-element {
  display:flex;
}
.group-element h3{
  justify-content: flex-end ;
}
