div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.chart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.legend-card {
  margin-left: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-color {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
}

