<mat-card class="text-container">
  <mat-card-header>
    <mat-card-title>
      <h1>What are the Big Five Traits?</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle>It is considered that every personality can be broken down into five main traits. They are known as the Big Five or OCEAN Traits.
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>

<mat-card class="text-container">
  <mat-card-header>
    <mat-card-title>
      <h1>Openness</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle>People high in openness are imaginative and curious, often seeking out new experiences and embracing change. They enjoy activities that stimulate their creativity and intellect, such as exploring new cultures, experimenting with different cuisines, and engaging in artistic pursuits. They are open to unconventional ideas and enjoy reading about new theories and concepts. On the other hand, individuals with low openness prefer routine and familiarity. They find comfort in predictability and are less likely to seek out new experiences. These individuals tend to stick to traditional foods, avoid unfamiliar activities, and favor established methods over innovative approaches.
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>

<mat-card class="text-container">
  <mat-card-header>
    <mat-card-title>
      <h1>Conscientiousness</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle>Highly conscientious individuals are organized, reliable, and disciplined. They excel at planning and following through with tasks, often keeping detailed planners or to-do lists. These individuals meet deadlines consistently, maintain tidy workspaces, and pay close attention to detail. In contrast, those with low conscientiousness are more spontaneous and less organized. They may procrastinate, struggle with planning, and frequently miss deadlines. Their workspaces tend to be cluttered, and they prefer a flexible approach to tasks, going with the flow rather than adhering to strict schedules.
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>

<mat-card class="text-container">
  <mat-card-header>
    <mat-card-title>
      <h1>Extroversion</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle> Extroverts are outgoing, energetic, and thrive in social situations. They feel energized by interacting with others, enjoy being the center of attention, and actively seek out social gatherings and group activities. Extroverts are often seen as enthusiastic and talkative, easily starting conversations with strangers. Conversely, introverts prefer solitary activities and find social interactions draining. They enjoy quiet environments and deep, one-on-one conversations over group discussions. Introverts tend to avoid being the center of attention and feel most comfortable in peaceful, low-stimulation settings.
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>

<mat-card class="text-container">
  <mat-card-header>
    <mat-card-title>
      <h1>Agreeableness</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle>Individuals high in agreeableness are compassionate, cooperative, and friendly. They prioritize others' needs and feelings, avoid conflicts, and strive for harmony in their relationships. These individuals are empathetic and often seen as warm and approachable. They enjoy helping others and are willing to compromise to maintain peace. In contrast, those with low agreeableness are more competitive and assertive. They are less concerned with others' feelings, prioritize their own needs, and are more comfortable with confrontation. These individuals may be seen as tough-minded and straightforward, often focusing on their own goals rather than accommodating others.
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>

<mat-card class="text-container">
  <mat-card-header>
    <mat-card-title>
      <h1>Neuroticism</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle>Highly neurotic individuals are prone to experiencing negative emotions such as anxiety, sadness, and irritability. They are sensitive to stress and may frequently worry about various aspects of life. These individuals are often seen as emotionally reactive and may have mood swings. On the other hand, those low in neuroticism are emotionally stable and calm. They handle stress well, maintain a positive outlook, and are less affected by setbacks. These individuals are seen as resilient and composed, able to navigate challenges without becoming easily overwhelmed
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>


